.form-search {
	justify-self: center;
	width: 90%;
}

.helvetica-neue-font {
	font-family: 'Helvetica Neue' !important;
}
.each-to-do {
	background-color: rgb(255, 255, 255);
	padding: 5px;
	width: 90% !important;
	margin: 10px;
}

.each-to-do-icon:hover {
	cursor: pointer;
}
.task-text {
	font-size: 1.2em !important;
	text-decoration-color: #f50057 !important;
}
